.chatinput {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

}

.voicebar{
  padding: -5px 10px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 0, 0, 1);
  color: #ccc;
}

.chatinput__form {
  flex: 1;
  padding: 10px;
  display: flex;
  align-items: center;
 background-color: white;
  color: #ccc;
  border-radius: 50px;
}
.chatinput__form-voice {
  flex: 1;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 1);
  border-radius: 50px;
}
.chatinput__form .MuiSvgIcon-root {
  cursor: pointer;
  font-size: 2em;
  padding: 0px 5px;
  color: gray;
}
.chatinput__form > form {
  flex: 1;
}
.chatinput__form > form > input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  width: 120%;
}
.chatinput__formIcons {
  display: flex;
  align-items: center;
}
.chatinput__icons {
  background: #020C24;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  font-size: larger;
}

.chatinput__icons > .MuiSvgIcon-root {
  cursor: pointer;
  padding: 10px;
  font-size: 2em;
  color: white;
}

.chatinput__form > .emoji-picker-react {
  position: absolute;
  bottom: 10%;
  left: 10%;
}


.fa-paper-plane{
  color: white !important;
  font-size: 22pt !important;
}